{% extends 'spycraft.html' %}

{% load static %}

{% block content %}

    <style>
        .wrapper {
            position: static;
            margin-top: 50px;
            right: 800px;
        }

        .wrapper1 {
            position: fixed;
            top: 100px;
            right: 100px;
        }

        .t1, .tr1 {
            border: 1px solid #9cfd5a;
            border-collapse: collapse;
            padding: 75px;
            width: 80%;
            margin-left: 20%;
        }

        .tr2 {
            border: 1px solid #9cfd5a;
            border-collapse: collapse;
            padding: 15px;
            width: 60%;
            margin-left: 30%;
        }
        #t01 tr:nth-child(even) {
            background-color: #eee;
        }

        #t01 tr:nth-child(odd) {
            background-color: #fff;
        }

        #t01 th {
            color: white;
            background-color: black;
        }
        th{
            padding: 34px;
        }

    </style>

    <body>
    {% if alert_flag_t %}
        <div class="alert alert-success" role="alert">
            1 record deleted successfully.
        </div>
    {% endif %}
    {% if alert_flag_f %}
        <div class="alert alert-danger" role="alert">
            There was an error in deletion.
        </div>
    {% endif %}

    <script>
        function gotoURL() {
            window.location = 'dspy/' + document.getElementById('SpyID').value;
        }

    </script>

    <center>
        <form name="form" action="despy" method="POST">{% csrf_token %}
            <div class="wrapper1">
                <div class="wrapper1" style="top: -3px;position: fixed;right: 102px;">
                    <center>
                        <label for="SpyID"></label>
                        <input type="text" name="SpyID" id="SpyID" class="form-control" placeholder="Spy ID">
                        <br>
                        <input type=button class="btn btn-primary" 
                               onClick="gotoURL()"
                               value="Delete" style="font-size: 18px;top: 19px;position: fixed;right: 10px;">
                    </center>
                </div>
            </div>
        </form>
    </center>

    <!--
    <div class="wrapper">
        <div class="wrapper">
            <center>
                <h3 style="color: white">CODENAME SPY_ID</h3>
                {% for spy in spies %}
                    <h4 style="color: white">{{ spy.code_name }} {{ spy.spy_id }}</h4>

                    <form action="despy" method="POST" style="float: right">
                        <button class="btn btn-primary" type="submit">Delete</button>
                    </form>
                {% endfor %}
            </center>
        </div>
    </div>
    !-->
    <div class="wrapper" style="overflow-x:auto;">
        <div class="wrapper">
            <table class="t1" style="color: white;/*! position: ; */position: absolute;right: 0px;">

                <tr class="tr1">
                    <th style="font-size: 22px; font-family: Arial">Code Name</th>
                    <th style="font-size: 20px; font-family: Arial">Name</th>
                    <th style="font-size: 20px; font-family: Arial">ID</th>
                    <th style="font-size: 20px; font-family: Arial">Action</th>
                </tr>
                {% for spy in spies %}

                    <tr id="tr1">
                        <th class="tr2"
                            style="color: #4CAF50;font-size: 22px; font-family: 'Arial'">{{ spy.code_name }}</th>
                        <th class="tr2"
                            style="font-size: 20px; font-family: Arial">{{ spy.first_name }} {{ spy.last_name }}</th>
                        <th class="tr2" id="SpyID1" style="font-size: 20px; font-family: Arial">{{ spy.pk }}</th>
                        <th>
                            <input type=button class="btn btn-primary" style="font-size: 18px"
                                   onClick="window.location = 'dspy/' +  {{ spy.pk }}" value="Delete">
                        </th>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>

    </body>

{% endblock %}
